#buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#display-container {
    background-color: antiquewhite;
    padding: 30px 30px 30px 30px;
    margin-bottom: 10px;
    text-align: right;
}